@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");

body {
    font-family: "Open Sans", sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
}
.navbar-brand {
    font-family: "Open Sans", sans-serif;
}
h1,
h2 {
    font-family: "Open Sans", sans-serif;
}
.slider_section .detail-box h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer_section h4,
.footer_section .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
}
.user_option .order_online {
    display: inline-block;
    padding: 8px 30px;
    background-color: #ffbe33;
    color: #000000;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
}