@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lato:ital,wght@0,100;0,700;1,400;1,700;1,900&family=Open+Sans:ital,wght@1,500;1,600&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
}
.navbar-brand {
    font-family: "Open Sans", sans-serif;
}
h1,
h2 {
    font-family: "Open Sans", sans-serif;
}
.slider_section .detail-box h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}